*{
    margin:0;
    padding:0;
}

.container{
    width:97%;
    background-color: aliceblue;
    border: double;
    height: 70vh;
    margin:0 auto;
}
.container .row1, .row2{
    border: .5em red dashed;
    margin-bottom: 1em;
    margin-top: .25em;
    overflow-y: hidden;
}
.container .row1 .col1{
    margin: .25em;
    width:48%;
    float:left;
    margin-right: .25rem;
    border: double;
    height: 28vh;
    overflow-y: auto;
}

.container .row1 .col2{
    margin: .25em;
    width:48%;
    float:left;
    margin-right: .25rem;
    border: double;
    height: 28vh;
    overflow-y: auto;
}
.container .row2 .col1{
    margin: .25em;
    width: 72%;
    float:left;
    margin-right: .25rem;
    border: double;
    height: 28vh;
    overflow-y: auto;
}
.container .row2 .col2{
    margin: .25em;
    width: 24%;
    float:left;
    margin-right: .25rem;
    border: double;
    height: 28vh;
    overflow-y: auto;
}